/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    background-color: #6a6b6e;
  }
  
  a {
    color: #c5cbce;
    text-decoration: none;
  }
  
  a:hover {
    color: #bcdbe9;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    width: 200px;
    transition: all ease-in-out 0.5s;
    margin-top: 40px;
    transition: all 0.5s;
    background: #343638;
    overflow-y: auto;
  }
  .text-light a {
    font-size: 16px;

  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  ul a {
      margin: 20px 0px;
  }
  
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -50px;
    }
    #main {
      margin-left: 0;
    }
  }

  /*--------------------------------------------------------------
# Navigation 
--------------------------------------------------------------*/

nav.sticky {
    width: 100%;
    display: flex;
    top: 0;
    font-size: 20px;
  }
  
  .nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    left: -4px;
    background: #272626;
    box-shadow: inset 0px 1px 2px 3px rgba(138, 135, 135, 0.116);
  }
  .nav-bar > ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  
  .nav-bar > ul > li {
    position: relative;
    padding: 20px 0;
    list-style-type: none;
    white-space: nowrap;
  }
  .nav-menu > ul > li {
    position: relative;
    padding: 20px 0;
    background-color: #c5cbce5e;
    text-align: center;
    margin: 20px 0;
    list-style-type: none;
    white-space: nowrap;
  }
  .nav-icon {
    margin: 0 20px;
  }
  
  /* mobile and Tablet Nav ----------------------------------------------------------- */


  .working-space {
      margin-left: 220px;
  }
  table {
      width: 100%;
      background-color: #3c3e3f42;
      height: 55vh;
    }
  tr {
        background-color: #4f525777;
        color: white;
        height: 55px;

        
    }
    td{
        padding: 30px;
        height: 50px;
    }
    th{
        background-color: #363535;
    }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .dash-header {
    height: 50px;
  }

  .form-container-blog {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
  }
  .post{
    color: black;
  }
  /* Full-width input fields */
  
  .form-container-blog input[type="text"]{
    width: 400px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  /* When the inputs get focus, do something */
  .form-container-blog input[type="text"]:focus {
    background-color: #ddd;
    outline: none;
  }
  .text-field {
    padding: 15px;
    width: 400px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .text-field-readmore {
    width: 400px;
    margin: 5px  0;
    border: none;
    background: #f1f1f1;
  
  }
  /* Set a style for the submit/login button */
  .form-container-blog .btn {
    border-radius: 7px;
    border: 2px rgb(100, 100, 100) solid;
    background-color: rgb(197, 197, 197);
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .form-container-message .btn {
    border-radius: 7px;
    border: 2px rgb(100, 100, 100) solid;
    background-color: rgb(197, 197, 197);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Add a red background color to the cancel button */
  .form-container-blog .cancel {
    width: fit-content;
    float: right;
    top: 20px;
  }
  .form-popup {
    display: none;
    padding: 10px;
    width: 60%;
    width: fit-content;
    border-radius: 7px;
    height: auto;
    margin: 10px 50px;
    background-color: rgba(122, 121, 121, 0.575);
    border: 3px solid #858282;
    z-index: 100;
  }


  /* spiner-------------------- */
  #percent{
    color: red;
    margin-left: 48% ;
  }
  .lds-ring {
    display: none;
    position: relative;
    margin-top: -90px;
    margin-left: 45%;
    width: 70px;
    height: 70px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }