/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    margin: 0px;
  }
  
  a {
    color: #c5cbce;
    text-decoration: none;
  }
  
  a:hover {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    width: 200px;
    transition: all ease-in-out 0.5s;
    margin-top: 40px;
    transition: all 0.5s;
    background: #000000;
    border-right: 3px solid white;
    height: 100vh;
    overflow-y: auto;
  }
  .text-light a {
    font-size: 16px;

  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  ul a {
      margin: 20px 0px;
  }
  
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -50px;
    }
    #main {
      margin-left: 0;
    }
  }

  /*--------------------------------------------------------------
# Navigation 
--------------------------------------------------------------*/

nav.sticky {
    width: 100%;
    display: flex;
    top: 0;
    font-size: 20px;
  }
  
  .nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    left: -4px;
    background: #000000;
    box-shadow: inset 0px 1px 2px 3px rgba(138, 135, 135, 0.116);
  }
  .nav-bar > ul {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  
  .nav-bar > ul > li {
    position: relative;
    padding: 20px 0;
    list-style-type: none;
    white-space: nowrap;
  }
  .nav-menu div {
    position: relative;
    padding: 30px 50px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #1a1919;
    box-shadow: inset #00000062 5px 3px 2px;
    color: rgb(155, 155, 155);
    border-bottom: 2px solid rgb(41, 41, 41);
    list-style-type: none;
    white-space: nowrap;
  }

  .nav-menu div:hover {
    background-color: #505050;
    box-shadow: inset #33323262 5px 3px 2px;
  }
  .nav-icon {
    margin: 0 20px;
  }
  
  /* mobile and Tablet Nav ----------------------------------------------------------- */


  .working-space {
      margin-left: 220px;
  }

  table {
      width: 98%;
      background-color: #d1dadfaf;
      height: auto;
    }

  tr {
        background-color: white;
        color: black;
        height: 55px;   
    }

    td{
        padding: 30px;
        height: 50px;
    }

    th{
        background-color: #b1adad;
    }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .dash-header {
    height: 50px;
  }

  .form-container-blog {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
  }

  .post{
    color: black;
  }

  /* Full-width input fields */
  .form-container-blog input[type="text"]{
    width: 400px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container-blog input[type="text"]:focus {
    background-color: #ddd;
    outline: none;
  }
  .text-field {
    padding: 15px;
    width: 400px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .text-field-readmore {
    width: 400px;
    margin: 5px  0;
    border: none;
    background: #f1f1f1;
  
  }
  /* Set a style for the submit/login button */
  .form-container-blog .btn {
    border-radius: 7px;
    border: 2px rgb(100, 100, 100) solid;
    background-color: rgb(16, 113, 204);
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .form-container-message .btn {
    border-radius: 7px;
    border: 2px rgb(100, 100, 100) solid;
    background-color: rgb(197, 197, 197);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Add a red background color to the cancel button */
  .form-container-blog .cancel {
    width: fit-content;
    float: right;
    top: 20px;
  }
  .form-popup {
    display: none;
    padding: 10px;
    width: 60%;
    width: fit-content;
    border-radius: 7px;
    height: auto;
    margin: 10px 50px;
    background-color: rgba(122, 121, 121, 0.575);
    border: 3px solid #858282;
    z-index: 100;
  }


  /* spiner-------------------- */
  #percent{
    color: red;
    margin-left: 48% ;
  }
  #done-w-blog {
    color: rgb(222, 228, 222);
    background-color: green;
    border-radius: 5%;
    width: fit-content;
    margin:10px auto;
  }
  .lds-ring {
    display: none;
    position: relative;
    margin-top: -90px;
    margin-left: 45%;
    width: 70px;
    height: 70px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* ------------------------ message --------------------------------------------------------- */
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(5, 107, 5);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 300px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 1s, fadeout 1.5s 3.5s;
    animation: fadein 1s, fadeout 1.5s 3.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 100; opacity: 1;} 
    to {bottom: 300px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 1;}
    to {bottom: 300px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 300px; opacity: 1;} 
    to {bottom: 300px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 300px; opacity: 1;}
    to {bottom: 300px; opacity: 1;}
  }

  /* ----------------------------------------------------------- */