/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("http://fonts.cdnfonts.com/css/athabasca");
@import url("http://fonts.cdnfonts.com/css/league-mono");
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #575555;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  display: flex;
}
.log {
  margin: 0 80% 0 20px;
}
.github {
  float: right;
}

/*--------------------------------------------------------------
# Navigation 
--------------------------------------------------------------*/

nav.sticky {
  position: -webkit-sticky;
  width: 100%;
  position: sticky;
  display: flex;
  top: 0;
  font-size: 20px;
}
.nav-bar {
  width: 100%;
  width: 1449px;
  height: 68px;
  left: -4px;
  top: 72px;
  background: #ffffff;
  box-shadow: inset 0px 1px 2px 3px rgba(138, 135, 135, 0.116);
}
.nav-bar > ul {
  width: fit-content;
  margin: 0 auto;
}

.nav-bar > ul > li {
  position: relative;
  padding: 20px 0;
  list-style-type: none;
  white-space: nowrap;
}
.nav-icon {
  margin: 0 20px;
}

/*--------------------------------------------------------------
# End Navigation 
--------------------------------------------------------------*/

/*-----------*/
.container {
  display: grid;
  background-color: #050d1813;
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.item1 {
  grid-row: 1/2;
  background-color: blue;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column: 1/3;
  height: 44vh;
}
.item2 {
  grid-row: 2/3;
  grid-column: 1/3;
  height: 44vh;
  background-image: url("../img/bg.PNG");
}

.item3 {
  grid-row: 1/3;
  grid-column: 3/4;
  /* background-color:#4b5d68; */
  background-image: url("../img/profile/profile.png");
  background-position: center;
  border: 100px solid transparent;
  border-left: 135px solid rgba(236, 233, 227, 0.904);
  border-bottom: 0;

  background-repeat: no-repeat;
  height: 75vh;
}
.hero-title {
  width: 500px;
  font-size: 72px;
  margin: 30px auto;
}

.hero-title p {
  width: 500px;
  text-align: center;
  font-size: 36px;
}

.hero-question {
  width: fit-content;
  color: rgb(235, 230, 230);
  margin: 10px auto;
}

.hero-description {
  background-color: #ffffff;
  width: 60%;
  box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.075);
  font-size: 14px;
  color: #181a1b;
  margin: 10px auto;
  padding: 10px;
}
.hero-desc {
  width: 60%;
  margin: 10px auto;
}
.get-started {
  width: 300px;
  font-size: 24px;
  border-radius: 200px;
  border: 2px rgb(0, 68, 255) solid;
  text-align: center;
  margin: 10px auto;
}
.get-started:hover {
  background-color:rgb(0, 68, 255) ;
  border: 2px rgb(252, 253, 255) solid;
  color: white;
}
/*--------------------------------------------------------------
# End Hero 
--------------------------------------------------------------*/

.my-name {
  color: #dadada;
  margin-left: 20px;
  font-size: 18px;
}

.nav-bar a:hover,
.nav-bar .active,
.nav-bar li:hover > a {
  text-decoration: none;
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 88vh;
  background-position: unset;
  background-size: cover;
}
.hero-title {
  margin: 90px;
  margin-left: 15%;
  width: 40%;
  font-size: 24px;
  font-family: "Athabasca", sans-serif;
  font-weight: bolder;
  height: auto;
  color: rgb(223, 213, 213);
}
.hero-title p {
  text-align: right;
  font-weight: 600;
  font-size: 36px;
}
.hero-text {
  margin-left: 20%;
  padding: 10px;
  width: 40%;
  height: auto;
  color: rgb(223, 213, 213);
  box-shadow: 10px 10px 20px 50px rgba(255, 255, 255, 0.089);
}
.hero-text p {
  padding: 15px;
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
}
.hero-question h1 {
  color: #111c2cc4;
  background-color: white;
  box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.116);
  padding: 8px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
  width: 60%;
  margin: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-image: url(https://themesbrand.com/zooki/layouts/images/home-2-img.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
}
.container-about {
  background-image: url("../img/bg.PNG") #6db3f2;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.container-about h2 {
  margin: 0 auto;
  width: 60%;
  
}

.container-about p {
  color: #050d18;
  margin: 0 auto;
  width: 40%;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
/*--------------------------------------------------------------
# Akills------------------------------------------------*/
.skills-content{
  margin-top: 100px;
  padding: 20px;
  background-image: url("../img/bg.PNG");
  display: flex;
}
.skills-content h2{
  font-size: 26px;
  color: #173b6c;
}
.skill-progress {
  margin: 20px;
  display: flex;
}
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume_container {
  display: grid;
  background-color: #050d1813;
  background-image: url("../img/bg.PNG");
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.resume_item1 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.resume_item2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 44vh;
  margin: 10px;

}

.resume_item3 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/4;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.resume_item3 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.resume_item4 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;

  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
}
.resume-info {
  border-left: 3px blue solid;
  padding: 10px;
  width:80%;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio_container {
  display: grid;
  background-color: #050d1813;
  background-image: url("../img/bg.PNG");
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.portfolio_item1 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.portfolio_item2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 44vh;
  margin: 10px;

}

.portfolio_item3 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/4;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.portfolio_item3 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.portfolio_item4 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;

  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
}
.portfolio-info {
  border-left: 3px blue solid;
  padding: 10px;
  width:80%;
  /* background-color: #050d18; */


}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog_container {
  display: grid;
  background-color: #050d1813;
  background-image: url("../img/bg.PNG");
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.blog_item1 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.blog_item2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 44vh;
  margin: 10px;

}

.blog_item3 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/4;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.blog_item3 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.blog_item4 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;

  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
}
.blog-info {
  border-left: 3px blue solid;
  padding: 10px;
  width:80%;
  /* background-color: #050d18; */

}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials_container {
  display: grid;
  background-color: #050d1813;
  background-image: url("../img/bg.PNG");
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.testimonials_item1 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.testimonials_item2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 44vh;
  margin: 10px;

}

.testimonials_item3 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/4;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.testimonials_item3 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.testimonials_item4 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;

  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
}
.testimonials-info {
  border-left: 3px blue solid;
  padding: 10px;
  width:80%;
  /* background-color: #050d18; */


}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact_container {
  display: grid;
  background-color: #050d1813;
  background-image: url("../img/bg.PNG");
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: repeat(4 1fr);
}

.contact_item1 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.contact_item2 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  height: 44vh;
  margin: 10px;

}

.contact_item3 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/4;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.contact_item3 {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
  margin: 10px;
}
.contact_item4 {
  width: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;

  background-position: center;
  border-bottom: 0;
  background-repeat: no-repeat;
  height: 44vh;
}
.contact-info {
  border-left: 3px blue solid;
  padding: 10px;
  width:80%;
  /* background-color: #050d18; */


}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
